udagram\udagram-api\*~
udagram\udagram-api\*.sw[mnpcod]
udagram\udagram-api\*.log
udagram\udagram-api\*.tmp
udagram\udagram-api\*.tmp.*
udagram\udagram-api\log.txt
udagram\udagram-api\*.sublime-project
udagram\udagram-api\*.sublime-workspace
udagram\udagram-api\.vscode\
udagram\udagram-api\npm-debug.log*

udagram\udagram-api\.idea\
udagram\udagram-api\.ionic\
udagram\udagram-api\.sourcemaps\
udagram\udagram-api\.sass-cache\
udagram\udagram-api\.tmp\
udagram\udagram-api\.versions\
udagram\udagram-api\coverage\
udagram\udagram-api\www\
udagram\udagram-api\node_modules\
udagram\udagram-api\tmp\
udagram\udagram-api\temp\
udagram\udagram-api\platforms\
udagram\udagram-api\plugins\
udagram\udagram-api\plugins\android.json
udagram\udagram-api\plugins\ios.json
udagram\udagram-api\$RECYCLE.BIN\
udagram\udagram-api\postgres_dev\
udagram\udagram-api\logfile
udagram\udagram-api\.circleci

udagram\udagram-api\.DS_Store
udagram\udagram-api\Thumbs.db
udagram\udagram-api\UserInterfaceState.xcuserstate
udagram\udagram-api\node_modules
udagram\udagram-api\venv\
udagram\udagram-api\.env

udagram\udagram-frontend\node_modules

udagram\set_env.sh