udagram-api/*~
udagram-api/*.sw[mnpcod]
udagram-api/*.log
udagram-api/*.tmp
udagram-api/*.tmp.*
udagram-api/log.txt
udagram-api/*.sublime-project
udagram-api/*.sublime-workspace
udagram-api/.vscode/
udagram-api/npm-debug.log*

udagram-api/.idea/
udagram-api/.ionic/
udagram-api/.sourcemaps/
udagram-api/.sass-cache/
udagram-api/.tmp/
udagram-api/.versions/
udagram-api/coverage/
udagram-api/www/
udagram-api/node_modules/
udagram-api/tmp/
udagram-api/temp/
udagram-api/platforms/
udagram-api/plugins/
udagram-api/plugins/android.json
udagram-api/plugins/ios.json
udagram-api/$RECYCLE.BIN/
udagram-api/postgres_dev/
udagram-api/logfile

udagram-api/.DS_Store
udagram-api/Thumbs.db
udagram-api/UserInterfaceState.xcuserstate
udagram-api/node_modules
udagram-api/venv/
udagram-api/.env

udagram-frontend/node_modules
